---
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Home</title>
		<!-- UPDATE LATER: FILE PATH DIFFERENT (dev purposes) -->
		<link rel="stylesheet" href="assets/stylesheets/homepage.css" />
		<link
			rel="icon"
			type="image/x-icon"
			href="/assets/images/favicon.png"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Anta&family=Forum&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,400,1,0"
			rel="stylesheet"
		/>

		
		<script type="text/javascript" id="MathJax-script" async
		src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
		</script>

		<script>
		MathJax = {
			tex: {
			inlineMath: [['$', '$']]
			}
		};
		</script>
	</head>
	<body>
		{% include header.html %}
		<hr />
		<main>
			<div id="posts" class="box">
				<h1>Posts</h1>
				<ul>
					{% for post in site.posts %}
					<li class="postcard"><article>
						<h2 class="posttitle"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
						<span class="postdate">{{ post.date | date: "%y-%m-%d" }}</span>
						{%- if post.excerpt -%}
          					<div class="postexcerpt">
               					{{ post.excerpt }}
               				</div>
                   		{%- endif -%}
					</article></li>
					{% endfor %}
				</ul>

			</div>

			<hr>
			<div id="intro">
				<div class="box">
					<img src="assets/images/profile.jpeg" id="profile" />
				</div>
				<div class="box" id="specialbox">
					<h2 id="hello">Hello, I'm Aiden Ghim.</h2>
					<p>
						Hi all, I am a student living in South Korea. These are a collection of my
						writings in math, science, technology, and great experiences.
					</p>
					<p>If you want to reach out, feel free to write to <a href="mailto:aiden.bj.ghim@gmail.com">aiden.bj.ghim@gmail.com</a>. 
					</p><p>Best,</p>

						<img style="margin-top: 0; margin-left: 70%;" width="30%" src="assets/images/signature_white.png">
						
					<p></p>
				</div>
			</div>
		</main>
	</body>
</html>
