header {
    margin: 0;
}

main {
    margin: 0px;
}

/*
#iconref {
    text-decoration: none;
}

#iconref:hover {
    text-decoration: underline;
}

#iconref:active {
    font-weight: 800;
} */

hr {
    color: white;
}

#icon {
    text-align: center;
    /* margin-top: auto;
    margin-bottom: auto; */

    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    font-weight: 800;
}

body {
    margin: 0px;
    background-color: rgb(19, 24, 41);
    color: white;
}

#intro {
    display: flex;
}

#profile {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 25%;
    padding: 1%;

    /* border: solid 1px white; */
    margin: 1%;
}

h1,
h2,
h3 {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 25px;
}

#hello {
    font-size: 50px;
}

#specialbox {
    width: 60%;
}
