header {
	margin: 0;
}

main {
	margin: 0px;
}

/*
#iconref {
    text-decoration: none;
}

#iconref:hover {
    text-decoration: underline;
}

#iconref:active {
    font-weight: 800;
} */

#icon {
	text-align: center;
	/* margin-top: auto;
    margin-bottom: auto; */

	font-size: 45px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 2%;
	padding-bottom: 2%;
}

#article {
	text-align: center;
}

a {
	text-decoration: none;
	color: white;
}

hr {
	color: white;
}

a:hover {
	font-weight: 700;
}

body {
	margin: 0px;
	background-color: #14191f;
	color: white;
}

h1,
h2,
h3 {
	font-family: "Anta", sans-serif;
	font-weight: 400;
	font-style: normal;
}

p {
	font-family: "Forum", serif;
	font-weight: 300;
	font-style: normal;
	width: 60%;
	margin: 40px auto;
	padding: 0 10px;
	line-height: 1.5;

	font-size: 25px;
	text-align: left;
}
