---
---


<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{ page.title }}</title>
		<!-- UPDATE LATER: FILE PATH DIFFERENT (dev purposes) -->
		<link rel="stylesheet" href="{{ '/assets/stylesheets/post.css' | relative_url }}" />
		<link
			rel="icon"
			type="image/x-icon"
			href="/assets/images/favicon.png"
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Anta&family=Forum&display=swap"
			rel="stylesheet"
		/>
		<!-- KaTeX CSS -->
		<link rel="stylesheet"
      		href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css"
      		integrity="sha384-+QDjm/CiTiqiIdBZNV2QTQjBHBnWuoGCtceFfhbLycLkSEt0CywJyW/DpSfCLKdN"
      		crossorigin="anonymous">

	</head>
	<body>
		<header>
			<h1 id="icon"><a id="iconref" href="/index.html">Aiden Ghim</a></h1>
		</header>
		<hr />
		<main>
			<div id="article">
				<h1>{{ page.title }}</h1>
				{{ content }}
			</div>
		</main>
		<!-- KaTeX JS -->
		<script defer
				src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.js"
				integrity="sha384-MwS8orLmPDVvq99C+yiRlfMehGPbzj2l3I/uHpooV95VmvT1tFyHMDl+1niXQKc0"
				crossorigin="anonymous"></script>

		<!-- KaTeX auto-render extension -->
		<script defer
				src="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/contrib/auto-render.min.js"
				integrity="sha384-kWPLUVMnB5uOBpwB4X9w+nKm8k5yn1n8HMywEGnxQjNqT9UihG8zR32J20+XKzjn"
				crossorigin="anonymous"
				onload="renderMathInElement(document.body, {
				delimiters: [
					{left: '$$', right: '$$', display: true},
					{left: '$',  right: '$',  display: false},
					{left: '\\[', right: '\\]', display: true},
					{left: '\\(', right: '\\)', display: false}
				]
				});">
		</script>

	</body>
</html>
